body {
    width:85%;
    margin:0 auto;
    font:62.5%/1.6 "Lucida Grande", Verdana, Arial Helvetica, sans-serif;
}

#header {
    height:60px;
    background:#b0b0b0;
    position: relative;
}

.position {
    position:absolute;
    top:50%;
    margin:auto;
    height:20px;
    margin-top:-10px;
    padding-left:10px;
    font-size:1.5em;
}

.position a {
    text-decoration:none;
    color:#fff;
}

.position a:hover {
    background:#94bbe9;
    color:#000;
}

.containter {
    margin:10px 0;
}

.containter img {
    margin-right:5px;
    margin-bottom:10px;
}
