<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
        <title>和光的主页</title>
    </head>

    <body>
        <div id="header">
            <ul>
                <li>
                <a href="/coding">编程</a>
                </li>
                <li>
                <a href="/thought">感悟</a>
                </li>
                <li>
                <a href="/wonderful_life">照片</a>
                </li>
                <li>
                <a href="/manage">管理</a>
                </li>
            </ul>
        </div>


        <div id="mainContainer">
            <div id="update">
                <p>content</p>
            </div>

            <div id="simple_information">
                <h3>最新发表</h3>
                <ul>
                    <li>
                    <a href="#">文章1</a>
                    </li>
                    <li>
                    <a href="#">文章2</a>
                    </li>
                    <li>
                    <a href="#">文章3</a>
                    </li>
                    <li>
                    <a href="#">文章4</a>
                    </li>
                </ul>

                <h3>关于作者</h3>

                <div class="weibo_show">
                    <a href="http://weibo.com/5286942911/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1">
                        <img src="http://tva4.sinaimg.cn/crop.51.16.140.140.180/005LNtmLjw8ervsoglcdjj305k05kmx1.jpg" width="56" height="56"/>
                    </a>

                    <dl>
                        <dt><a href="http://weibo.com/5286942911/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1">小星_物语</a></dt>
                        <dd><span>湖北 武汉</span></dd>
                    </dl>
                </div>
            </div>
        </div>


        <div id="footer">
            <p> 和光同尘 </p>
        </div>
    </body>

</html>
