<!DOCTYPE html>

<html>
    <body>
        <title>show_article</title>
        <link rel="stylesheet" type="text/css" href="/static/css/show_article.css"></link>
    </body>

    <head>
        <p class="title">{{ article_fill.title }}</p>
        <div class="information">
            <a href="/home">和光</a>
            <span>/</span>
            <a href="/coding">编程</a>
            <span>/</span>
            <a href="#">python</a>
            <span>/</span>
            <span class="date">{{ article_fill.current_time }}</span>
            <span>/</span>
            <span>阅读：</span>
            <span class="readership">123</span>
        </div>

        <div class="content">
            <pre>{{ article_fill.content }}</pre>
        </div>
    </head>
</html>
